@import "nullstyle.scss";

body {
	background-color: #1f1f1f;
	color: #fff;
}
.block {
	//display: flex;
	margin-top: 20px;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 250px;
	border: 1px solid #fff;
}
.block__item {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	//border: 1px solid grey;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	margin-left: 10px;
	margin-right: 10px;
	
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
	}
	&:before{
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
		background: #ff0036;
		transform: scale(1.02);
		//z-index: 10;
	}
}

.block__item.active {
	z-index: 2;
	transform: scale(1.1) translate(-50%, -45%);
	transition: all 0.5s;

}

.block__item.prew {
	left:	45%;
	z-index: 1;
	transition: all 0.5s;
}
.block__item.next {
	left:	55%;
	z-index: 1;
	transition: all 0.5s;
}

.btns {
	text-align: center;
}
.btn {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	width: 100px;
	height: 40px;
	padding: 10px 15px;
	border-radius: 2px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	transition: transform 0.4s;
	&:hover {
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	}
	&:active {
		transform: scale(0.95);
	}
}
